# Ignore dependencies, as they are installed inside the container
node_modules

# Ignore Next.js build folder, as it's generated inside the container
.next

# Ignore local environment variables
.env.local

# Ignore Docker files
Dockerfile
.dockerignore
